#logo{
    width: 150px;
}

.nav-item{
    color: #112041;
}

.nav-item:hover{
    background-color: #e3e4e8;
    border-radius: 5px;
}
.navigation{
    width: 280px;
    border-radius: 10px;
    height: 100vh;
}

.textNav{
    color: #112041;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
}

.icons{
    color: #112041;
}

.active{
    background-color: #e3e4e8;
    border-radius: 5px;
}

.Sidebar{
    color: '#112041'
}
